<script setup lang="ts">
import { ref, computed, getCurrentInstance, onMounted } from 'vue'
import { useRoute } from 'vue-router'

import { services } from '@/services'

import { Board, TaskStatus, Task } from '@/lib/types'
import { getAuth } from '@/lib/functions'

import HeaderComponent from '@/components/boards/Header.vue'
import BoardComponent from '@/components/boards/Board.vue'

import TaskCard from '@/components/TaskCard.vue'

import TaskPopup from '@/components/taskPopup/Index.vue'
import BoardSwitchPopup from '@/components/BoardSwitchPopup.vue'
import NewTaskPopup from '@/components/NewTaskPopup.vue'
import SettingsPopup from '@/components/settingsPopup/Index.vue'

const route = useRoute()
const boardId = computed(() => Number(route.params.id))

const authService = services.auth
const taskService = services.tasks
const boardService = services.boards

const popups = ref({
    'task': false,
    'newTask': false,
    'settings': false,
    'boardSwitch': false
})
const poppedUpTask = ref<Task>({ id: 0, title: '', status: ''})

const currentBoard = ref<Board>()

/*
const mapTasks = () => {
    cols.value.map(col => col.id).forEach(async (statusId) => {
        fetchTasks(statusId)
        .then((fetched: Task[]) => {
            tasks.value[statusId] = fetched
        })
    })
}
*/

const fetchTasks = async (noUpdate=true) => {
    return new Promise(async (resolve, reject) => {
        boardService.getBoardById(boardId.value)
        .then(board => {
            currentBoard.value = Object.assign({}, board)
            if (!noUpdate)
                getCurrentInstance()?.proxy?.$forceUpdate()
            resolve()
        })
        .catch(reject)
    })
}

const fetchBoards = async () : Promise<void> =>
    new Promise(async (resolve, reject) => {
        const newBoards = await boardService.getBoards()
        boards.value = newBoards
        currentBoard.value = boardService.getCurrentBoard(newBoards)

        resolve()
    })

const onClose = () => {
    fetchTasks()
}

const onUpdateBoard = (board) => {
}

const popupTask = (task) => {
    fetchTasks(false)
    .then(() => {
        popups.value.task = true
        poppedUpTask.value = task
    })
}

onMounted(() => {
    fetchTasks()
})

const onDragTask = (updatedCols) => {
    currentBoard.value.columns = updatedCols
}

</script>
<template>
    <div class="container mx-auto bg-slate-100 rounded-md">
        <Teleport v-if="currentBoard" to="#title-bar">
            <HeaderComponent
                :board="currentBoard"
                @settings="popups.settings = true"
                @switch-board="popups.boardSwitch = true"
                @new-task="popups.newTask = true"
                class=""/>
        </Teleport>
        <BoardComponent
            v-if="currentBoard"
            :board="currentBoard"
            @new-task="popups.newTask = true"
            @popup-task="popupTask"
            @drag-task="onDragTask"
            class="h-[80%]" />
        <p v-else>...</p>
    </div>
    <transition name="fade">
    <div class="fixed inset-0 w-screen h-screen bg-slate-500/50"
       v-if="Object.values(popups).filter(visibility => visibility == true).length > 0"
    >
        <TaskPopup class="mx-auto"
            v-if="popups.task"
            :board="currentBoard"
            :task="poppedUpTask"
            :project-id="currentBoard.project_id"
            @close="popups.task = false; onClose()"
        />
        <NewTaskPopup class="mx-auto"
            v-if="popups.newTask"
            :board="currentBoard"
            @close="popups.newTask = false; onClose()"
        />
        <SettingsPopup class="mx-auto"
            :board="currentBoard"
            v-if="popups.settings"
            @close="popups.settings = false; onClose()"
        />
    </div>
    </transition>
</template>

<style>
#app {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.fade-leave-from, .fade-enter-to {
  opacity: 1;        
}
</style>

