<script setup>
const props = defineProps({ shallow: Boolean })
</script>

<template>
    <button
        type="button"
        class="
               rounded-md
               "
        :class="props.shallow
            ? 'border-2 border-blue-500 hover:bg-blue-500 pr-4 pl-4 hover:text-white'
            : 'bg-blue-500 hover:bg-blue-700 p-2 pr-4 pl-4 text-white'"
    >
        <slot />
    </button>
</template>

