<template>
    <button
        type="button"
        class="bg-red-500
               text-white
               rounded-md
               hover:bg-red-700"
    >
        <slot />
    </button>
</template>

