<template>
    <button
        type="button"
        class="bg-green-500
               text-white
               p-2 pl-4 pr-4
               rounded-md
               hover:bg-green-700"
    >
        <slot />
    </button>
</template>
