<script setup lang="ts">
const {
    model,
    allowDelete
} = defineProps<{
    model: Array<{
        id: string,
        color: string,
        label: string
    }>,
    allowDelete?: boolean
}>()

const emit = defineEmits(['remove'])

</script>

<template>
    <div class="tag-box flex flex-wrap w-full">
        <div v-for="tag in model" :key="tag.id"
             :style="`background-color: ${tag.color}`"
            class="p-1 pl-2 pr-2 mr-1 mb-1 rounded-md text-white"
        >
            {{ tag.label }}
            <span v-if="allowDelete" @click="emit('remove', tag.id)" class="cursor-pointer"> &times;</span>
        </div>
    </div>
</template>
