<template>
    <div class="form-item flex flex-col items-start justify-start
                md:flex-row md:items-start">
        <slot />
    </div>
</template>

<style lang="postcss">
.form-item > div {
    @apply p-2 pl-0
}


.form-item label {
    @apply block w-48 text-left p-2
}

.form-item input, .form-item textarea {
    @apply border-b-2 p-0 
}

.form-item input,
.form-item p,
.form-item button,
.form-item textarea {
    @apply p-2 resize-none
}
</style>
