<script setup lang="ts">
import { ref, computed } from 'vue';

const emit = defineEmits(['result'])

type SearchSource = Array<{
    id: string | number,
    label: string
}>

const {
    allowUnindexed,
    placeholder,
    source
} = defineProps<{    
    allowUnindexed?: boolean,
    source?: SearchSource,
    exclude?: SearchSource,
    placeholder?: string
}>()

const search = ref()
const searchQuery = ref('')
const resultPanelVisible = ref(false)

const onchange = (ev: Event | KeyboardEvent) => {
    if (ev instanceof KeyboardEvent) {
        if (ev.code == 'Enter') {
            if (allowUnindexed) {
                emit('result', searchQuery.value)   
                searchQuery.value = ''
            }
        }
    }
}
</script>

<template>
    <div
        class="w-full"
        @focus="resultPanelVisible = true"
        @blur="resultPanelVisible = false"
    >
        <input type="text"
            class="w-full"
            ref="search"
            v-model="searchQuery"
            :placeholder="placeholder"
            @focus="resultPanelVisible = true"
            @blur="resultPanelVisible = false"
            @keypress="onchange"
        />
        <transition name="fade">
        <div v-if="resultPanelVisible"
            class="absolute -translate-y-1.5 bg-slate-100 rounded"
        >
            <div v-for="result in source" :key="result.id"
                class="hover:bg-slate-400 cursor-pointer p-2 rounded"
                @click="emit('result', result.id); resultPanelVisible = false; searchQuery = ''"
            >
                {{ result.label }}
            </div>
        </div>
        </transition>
    </div>
</template>

<style scoped lang="postcss">
</style>
