<script setup>
import { computed } from 'vue'

const props = defineProps({ text: String, color: String })
const colorStyle = computed(() => `background-color: ${props.color}`)
</script>

<template>
    <div
        :style="colorStyle"
        class="text-white text-center
               p-1 pl-4 pr-4
               rounded-md"
    >
        <p>{{ props.text }}</p>
    </div>
</template>
