<script setup lang="ts">
import { computed } from 'vue'
import { useRoute } from 'vue-router'

const props = defineProps<{
    model: Array<{ tab: string, label: string }>
}>()

const model = computed(() => props.model)
const route = useRoute()
</script>

<template>
    <div class="flex flex-wrap">
        <div v-for="item in model" :key="item.tab" class="mr-8">
            <p v-if="item.tab === route.fullPath"
                class="text-lg"><strong>{{ item.label }}</strong></p>
            <router-link v-else :to="item.tab" replace
                class="text-lg">{{ item.label }}</router-link>
        </div>
    </div>
</template>
