<script setup lang="ts">
const emit = defineEmits(['remove'])

const {
    model,
    color
} = defineProps<{
    model: Array<{
        id: string | number,
        label: string
    }>,
    color: string
}>()
</script>

<template>
    <div class="flex flex-wrap">
        <div v-for="tag in model" :key="tag.id"
            class="p-1 pl-2 pr-2 rounded-md mr-1 mb-1 text-white"
            :class="color"
        >
            {{ tag.label }}
            <span class="cursor-pointer" @click="emit('remove', tag.id)">
                &MediumSpace;
                &times;
            </span>
        </div>
    </div>

</template>
