<script setup>
const props = defineProps({ username: String, small: Boolean })
</script>

<template>
    <div class="user-chip">
        <img src="/svg/user.svg" :class="props.small ? 'small mr-1' : 'mr-2'" />
        <p class="p-0 m-0" :class="props.small ? 'text-xs' : ''">{{ props.username }}</p>
    </div>
</template>

<style lang="postcss">
.user-chip {
    @apply flex items-center justify-center
}

.user-chip p {
    padding: 0 !important;
}

header .user-chip p {
    @apply hidden md:block
}

.user-chip img {
    width: 30px;
    height: 30px;
}

.user-chip img.small {
    width: 20px;
    height: 20px;
}

</style>

<style scoped>
</style>
