<script setup lang="ts">
import ColoredTagBox from '@/components/ui/ColoredTagBox.vue'
import FormItem from '@/components/ui/FormItem.vue'
import UserChip from '@/components/ui/UserChip.vue'

import { Task } from '@/lib/types'

import { computed } from 'vue'
import Markdown from 'vue3-markdown-it'

const props = defineProps<{ task: Task }>()
const emit = defineEmits<{
    (e: 'edit'): void
    (e: 'delete'): void
}>()

const task = computed(() => props.task)
const deadline = computed(() => (new Date(task.value.until)).toLocaleDateString('ru-RU'))
</script>

<template>
    <div>
        <h1 class="mb-4 font-normal">{{ task.title }}</h1>
        <FormItem>
            <div class="mb-1">
                <label>Срок</label>
            </div>
            <div class="w-full">
                <p v-if="task.until">до {{ deadline }}</p>
                <p v-else>+ назначить</p>
            </div>
        </FormItem>
        <FormItem>
            <div>
                <label>Ответственные</label>
            </div>
            <div class="w-full">
                <button class="rounded-md
                               hover:bg-slate-200
                               p-1 pr-2 pl-2
                               -translate-x-1.5"
                        v-if="task.responsibles.length === 0">+ назначить</button>
                <div class="flex translate-y-1" v-else>
                    <UserChip v-for="responsible in task.responsibles" :key="responsible" :username="responsible"
                        class="mr-2 mb-2" />
                </div>
            </div>
        </FormItem>
        <FormItem>
            <div>
                <label>Теги</label>
            </div>
            <div>
                <button v-if="task.tags.length == 0"
                        class="rounded-md
                               hover:bg-slate-200
                               p-1 pr-2 pl-2
                               -translate-x-1.5">+ добавить</button>
                <ColoredTagBox v-else :model="task.tags" />
            </div>
        </FormItem>
        <FormItem>
            <div>
                <label>Действия</label>
            </div>
            <div class="w-full">
                <p>
                    <a
                        class="underline text-blue-300"
                        @click="emit('edit')">Редактировать</a>
                    &nbsp; 
                    <a
                        class="underline text-red-300"
                        @click="emit('delete')">Удалить</a>
                </p>
            </div>
        </FormItem>
        <div v-if="task.description">
            <div class="mb-4">
                <label>Описание</label>
            </div>
            <div>
                <Markdown class="md text-sm" breaks :source="task.description" />
            </div>
        </div>
        <p class="text-gray-400" v-else>Пока нет описания задачи. <a class="underline">Добавить?</a> </p>
    </div>
</template>
