<script setup lang="ts">
import UserChip from '@/components/ui/UserChip.vue'
import ColoredTagBox from '@/components/ui/ColoredTagBox.vue'
import SearchBar from '@/components/ui/SearchBar.vue'
import FormItem from '@/components/ui/FormItem.vue'
import { Task } from '@/lib/types'

import { services } from '@/services'

import { ref, computed, onMounted } from 'vue'
import { useRoute } from 'vue-router'

const route = useRoute()
const projectService = services.projects

const props = defineProps<{
    task: TaskModel
    board: Board
    projectId: number
}>()
const board = computed(() => props.board)
const emit = defineEmits<{
    (e: 'save', task: TaskModel): void
    (e: 'cancel'): void
}>()

const tags = ref<TaskTag[]>([])

const participants = ref<string[]>([])
const renderedParticipants = computed(() =>
    participants.value
        .filter(p => !task.value.responsibles.includes(p))
        .map(p => ({ id: p, label: p })))

const task = ref<TaskModel>({
    id: props.task.id,
    title: props.task.title,
    description: props.task.description,
    date: props.task.until.slice(0, 10),
    status: props.task.status,
    responsibles: props.task.responsibles,
    tags: props.task.tags.map(tag => tag.id)
})
const deleteTaskResponsible = (responsible) => {
    task.value.responsibles = task.value.responsibles.filter(r => r !== responsible)
}
const deadline = computed(() => (new Date(task.value.until)).toLocaleDateString('ru-RU'))

const tagsToSearch = computed(() => board.value.tags.filter(tag => !task.value.tags.includes(tag.id)))
const renderedTags = computed(() => board.value.tags.filter(tag => task.value.tags.includes(tag.id)) )

const removeTag = (tag: string) => {
    task.value.tags = task.value.tags.filter(_tag => _tag != tag);
}

onMounted(() => {
    fetch(import.meta.env?.VITE_API + `/tag?board_id=${route.params.id}`)
    .then((response) => {
        if (response.status == 200) {
            response.json()
            .then((data: TaskStatus[]) => {
                tags.value = data
            })
        }
    })

    projectService.getProjectParticipants(props.projectId)
    .then(_participants => {
        participants.value = _participants
    })
})
</script>

<template>
    <div>
        <textarea type="text" class="task-edit__input-title h-[1.7em] font-normal" v-model="task.title"></textarea>
        <FormItem>
            <div class="mb-1">
                <label>Срок</label>
            </div>
            <div class="w-full">
                <input type="date" v-model="task.date" />
            </div>
        </FormItem>
        <FormItem>
            <div>
                <label>Ответственные</label>
            </div>
            <div class="w-full">
                <div class="flex">
                    <div v-for="responsible in task.responsibles" :key="responsible" class="flex flex-wrap mr-2 mb-2">
                        <UserChip :username="responsible" />
                        <button class="text-red-600 task-edit__delete-responsible"
                            @click="deleteTaskResponsible(responsible)">&times;</button>
                    </div>
                </div>
                <SearchBar placeholder="Начните искать среди команды проекта"
                    allow-unindexed
                    :source="renderedParticipants"
                    @result="task.responsibles.push($event)"
                />
            </div>
        </FormItem>
        <FormItem>
            <div class="mb-2">
                <label>Теги</label>
            </div>
            <div class="w-full flex flex-wrap">
                <ColoredTagBox :model="renderedTags" @remove="removeTag" allow-delete />
                <SearchBar placeholder="Начните искать по доступным тегам"
                    allow-unindexed
                    :source="tagsToSearch"
                    @result="task.tags.push($event)"
                />
            </div>
        </FormItem>
        <FormItem>
            <div>
                <label>Действия</label>
            </div>
            <div class="w-full">
                <p>
                    <a class="underline text-green-300" @click="emit('save', task)">Сохранить</a>
                    &nbsp;
                    <a
                        class="underline text-red-300"
                        @click="emit('cancel')"
                    >Отменить</a>
                </p>
            </div>
        </FormItem>
        <div class="mb-4">
            <label>Описание</label>
        </div>
        <textarea v-model="task.description"
            class="task-edit__input-description w-full resize-y"
            placeholder="Добавьте описание в стиле Markdown"></textarea>
    </div>
</template>

<style scoped lang="postcss">
.task-edit__input-title {
    @apply text-2xl bg-slate-200 w-3/4 resize-none
}

.task-edit__input-description {
    @apply h-[20em] text-sm
}

.task-edit__delete-responsible {
    @apply p-0 m-0 ml-2;
}
</style>
