<script setup lang="ts">
import Markdown from 'vue3-markdown-it'
import { ref, computed, onMounted } from 'vue'

import { Task, TaskTag, TaskStatus } from '@/lib/types'
import { fetchTaskTags, fetchStatuses } from '@/lib/functions'

import StatusChip from '@/components/ui/StatusChip.vue'

import Details from './Details.vue'
import Edit from './Edit.vue'

import { services } from '@/services'
const taskService = services.tasks

const emit = defineEmits<{
    (e: 'close'): void
}>()
const props = defineProps<{
    board: Board
    task: TaskModel
    projectId: number
}>()

const task = ref<TaskModel>()
const projectId = computed(() => props.projectId)
const isEditing = ref<boolean>(false)

const currentStatus = ref<TaskStatus>({
    id: '',
    color: 'bg-black',
    label: '__unknown__'
})

const editTask = () => {
    isEditing.value = true
}

const cancelEditing = () => {
    isEditing.value = false
}

const simpleValues = ['title', 'description', 'date']

const updateTask = (updatedTask) => {
    taskService.updateTask(updatedTask, task.value)
    .then(_ => {
        emit('close')
    })
}

const deleteTask = () => {
    taskService.deleteTask(task.value.id)
    .then(response => {
        if (response.status == 200) {
            emit('close')
        }
    })
    .catch(err => {
        alert(err)
    })
}


onMounted(() => {
    /*
    fetchStatuses()
    .then((statuses: TaskStatus[]) => {
        //currentStatus.value = statuses.filter(status => status.id == props.task.status)[0]
    })*/
    task.value = Object.assign({}, props.task)
})
</script>

<template>
    <div class="container p-8 mt-16 mb-16 bg-white rounded-md lg:w-1/2 h-[92vh] overflow-y-auto sm:w-full">
        <div v-if="task">
            <div class="float-right flex items-center mb-2">
                <StatusChip v-if="task.status.id != ''"
                    :text="task.status.label" :color="task.status.color"
                    class="mr-4 ml-2"/>
                <span class="text-3xl cursor-pointer" @click="emit('close')">&times;</span>
            </div>
            <Details v-if="!isEditing" :task="task" @edit="editTask" @delete="deleteTask" />
            <Edit v-else :task="task" :board="props.board" :project-id="projectId" @save="updateTask" @cancel="cancelEditing" />
        </div>
    </div>
</template>

<style scoped lang="postcss">
</style>
