<script setup lang="ts">
import { services } from '@/services'

import { ref, computed, onMounted, watch } from 'vue'
import { useRoute } from 'vue-router'
import { Draggable, Container } from 'vue-dndrop'

import { Task } from '@/lib/types'

import StatusChip from '@/components/ui/StatusChip.vue'
import TaskCard from '@/components/boards/TaskCard.vue'

const props = defineProps<{
    board: Board
}>()

const emit = defineEmits<{
    (e: 'dragTask', cols: TaskStatus[])
    (e: 'popupTask', task: Task): void,
    (e: 'newTask'): void
}>()

const route = useRoute()
const boardService = services.boards

const board = ref<Board>(null)
const boardId = computed(() => route.params.id)

const noTasks = computed(() => board.value
                            ? Object.values(board.value.columns)
                               .map(col => col?.tasks?.length ?? 0)
                               .reduce((partial, next) => partial + next, 0) == 0
                            : false)

onMounted(() => {
    board.value = props.board
})

watch(props, (value) => {
    board.value = value.board
})

const echoNewStatus = (ev: any) => {
    console.log(ev); return
    const id = Number(ev.item.id)
    const target = ev.to.parentNode.id

    fetch(import.meta.env?.VITE_API + '/task', {
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ id, status: target }),
        method: 'PUT'
    })
    .catch(err => console.error(err))
}

const applyDrag = (arr, columnId, dragResult) => {
    const { addedIndex, removedIndex, payload } = dragResult
    if (addedIndex == null && removedIndex == null) return arr

    const result = [...arr]
    const activeCol = result.find(c => c.id == columnId)

    if (removedIndex !== null) {
        activeCol.tasks = activeCol.tasks.filter(t => t.id !== payload.id)
    }

    if (addedIndex !== null) {
        activeCol.tasks.push(payload)
    }

    return arr
}

const echoEnd = (ev: any) => {
    if (ev.isSource)
        console.log(ev)
}

const echoDrop = (columnId: string, ev: any) => {
    const updatedCols = applyDrag(board.value.columns, columnId, ev)
    emit('dragTask', updatedCols)

    if (ev.addedIndex == null) return

    const body = JSON.stringify({ id: ev.payload.id, status: columnId })
    console.log(body)

    fetch(import.meta.env?.VITE_API + '/task', {
        headers: { 'Content-Type': 'application/json' },
        body,
        method: 'PUT'
    }).then(() => {
        emit('dragTask', updatedCols)
    })

}

const shouldAcceptDrop = (index, src, payload) => {
    return true;
}

const getChildPayload = (columnId) => {
    return (index) => {
        return board.value.columns.filter(c => c.id == columnId)[0].tasks[index]
    }
}

</script>

<template>
    <main class="overflow-x-auto overflow-y-auto">
        <div v-if="noTasks" class="mx-auto text-center text-slate-400">
            <p class="mt-12 mb-12">
                Пока нет задач.
                <a class="underline" @click="emit('newTask')">Добавить!</a>
            </p>
        </div>
        <div v-else-if="board" class="flex gap-2 h-[80vh]">
            <div
                class="m-2 pr-8"
                v-for="col in board.columns"
                :key="col.id"
            >
                <div class="flex align-center justify-between">
                    <StatusChip :text="col.label" :color="col.color"
                        class="m-2 mb-6 max-w-fit" />
                    <button class="text-2xl h-[2em]">+</button>
                </div>
                <div :id="col.id" class="w-[20em] h-full">
                    <Container group-name="column" class="pb-24"
                        :key="col.id"
                        :get-child-payload="getChildPayload(col.id)"
                        :should-accept-drop="(src, payload) => shouldAcceptDrop(col.id, src, payload)"
                                                   @drop="(e) => echoDrop(col.id, e)">
                        <Draggable
                            v-for="task in col.tasks" :key="task.id"
                        >
                            <TaskCard
                                :task="task"
                                @popup="emit('popupTask', task)"
                                :key="task.id"
                            />
                        </Draggable>
                    </Container>
                </div>
            </div>
        </div>
    </main>
</template>

<style scoped>
@keyframes card-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

.dndrop-ghost {
    animation: .5s card-rotation;
    animation-fill-mode: forwards;
}

main::-webkit-scrollbar {
  width: 20px;
}

main::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

main::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

main::-webkit-scrollbar-corner {
    display: none;
}
</style>
