<script setup>
import BoardSwitch from '@/components/BoardSwitch.vue'
import FormItem from '@/components/ui/FormItem.vue'

import { computed } from 'vue'

const props = defineProps({ board: Object })

const emit = defineEmits(['settings', 'newTask', 'switchBoard'])

const boardTitle = computed(() => props.board?.title ?? "загрузка...")
</script>

<template>
    <div class="flex flex-col md:flex-row align-center">
        <div
            class="md:float-right
                   sm:float-none
                   flex
                   flex-col
                   md:flex-row"
        >
        </div>
        <h1 class="pt-1 ml-4 mr-4">{{ boardTitle }}</h1>
        <div class="flex-1 mr-4">
            <FormItem>
                <div class="w-full">
                    <input class="w-full" type="text" placeholder="Начните искать задачи по названию, тегам, статусам" />
                </div>
            </FormItem>
        </div>
        <button
            class="p-2 pr-4 text-xl hidden md:block hover:text-slate-500"
            @click="emit('settings')"
        >
            <img src="/svg/settings.svg" width="30" height="30" />
        </button>
        <button
            v-if="board !== null"
            @click="emit('newTask')"
            class="bg-indigo-500
                   text-white
                   float-right
                   p-2 pl-4 pr-4
                   rounded-md
                   hover:bg-indigo-800"
        >+ новая задача</button>
    </div>
</template>

<style scoped>
.form-item {
    margin-bottom: 0;
}

.form-item > div {
    padding: 0;
}
</style>
