<script setup lang="ts">
import { ref, computed } from 'vue'

import { Task, TaskTag } from '@/lib/types'
import { fetchTaskTags } from '@/lib/functions'

import UserChip from '@/components/ui/UserChip.vue'
import ColoredTagBox from '@/components/ui/ColoredTagBox.vue'

const props = defineProps<{ task: Task }>()
const emit = defineEmits<{
    (e: 'popup', task: Task): void
}>()
const deadline = computed(() => (new Date(props.task.until)).toLocaleDateString('ru-RU'))
</script>

<template>
    <div
        class="container
               p-4
               m-2
               shadow
               rounded-sm
               cursor-move	
               bg-white"
        @dblclick="emit('popup', props.task)">
        <a @click="emit('popup', props.task)">
        <h2 class="mb-3 cursor-pointer font-normal text- hover:text-blue-600">{{ props.task.title }}</h2>
        </a>
        <div class="flex mb-2">
            <UserChip v-for="responsible in props.task.responsibles" :key="responsible" :username="responsible"
                small class="mr-2 mb-1 -translate-x-0.5" />
        </div>
        <div class="flex -translate-x-0.5">
            <img src="/svg/cal.svg" class="mr-1" />
            <p class="text-xs pt-0.5">{{ deadline }}</p>
        </div>
        <ColoredTagBox :model="props.task.tags" class="mt-4 text-xs" />
    </div>
</template>

