<script setup lang="ts">
import { ref, computed, onMounted } from 'vue'

import { services } from '@/services'

import { TaskStatus, TaskTag } from '@/lib/types'

import FormItem from '@/components/ui/FormItem.vue'
import StatusChip from '@/components/ui/StatusChip.vue'

import ButtonBox from '@/components/ui/ButtonBox.vue'
import OkButton from '@/components/ui/buttons/Ok.vue'
import DangerButton from '@/components/ui/buttons/Danger.vue'

import { useCookies } from 'vue3-cookies'

const props = defineProps<{
    board: Board
}>()
const emit = defineEmits<{
    (e: 'close'): void
}>()

const authService = services.auth
const boardService = services.boards

const board = ref(null)

const cols = ref<TaskStatus[]>([])
const tags = ref<TaskTag[]>([])
const isNewStatusAdding = ref(false)
const isNewTagAdding = ref(false)
const newStatus = ref({
    id: 's' + Math.random().toString().slice(2, 8),
    color: 'bg-black',
    label: 'Новый статус'
})
const newTag = ref({
    id: 't' + Math.random().toString().slice(2, 8),
    color: 'bg-gray-300',
    label: 'Новый статус'
})

/*
fetch(import.meta.env?.VITE_API + '/tag')
.then((response) => {
    if (response.status == 200) {
        response.json()
        .then((data: TaskStatus[]) => {
            tags.value = data
        })
    }
})

const submitStatus = () => {
    fetch(import.meta.env?.VITE_API + '/status', {
        headers: {
            'Content-Type': 'application/json',
            'Authorization': authService.getAuth()
        },
        body: JSON.stringify({
            id: newStatus.value.id,
            color: newStatus.value.color,
            label: newStatus.value.label
        }),
        method: 'POST'
    })
    .then((response) => {
        if (response.status == 200) {
            emit('close')
        }
    })
}
const submitTag = () => {
    fetch(import.meta.env?.VITE_API + '/tag', {
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            id: newTag.value.id,
            color: newTag.value.color,
            label: newTag.value.label
        }),
        method: 'POST'
    })
    .then((response) => {
        if (response.status == 200) {
            emit('close')
        }
    })
}

const deleteTag = (id: string) => {
    fetch(import.meta.env?.VITE_API + `/tag?id=${id}`, {
        method: 'DELETE'
    })
    .then(response => {
        if (response.status == 200) {
            emit('close')
        }
    })
}

const onColorChanged = (statusId, color) => {
    console.log(color)
    cols.value.find(c => c.status.id == statusId).color = color.css
}

const logout = () => {
    const { cookies } = useCookies()
    cookies.remove('auth')

    window.location.href = import.meta.env?.VITE_LOGIN
}
*/
onMounted(() => {
    board.value = Object.assign({}, props.board)
})

const onUpdateBoard = () => {
    boardService.updateBoard(board.value)
    .then(_ => {
        emit('close')
    })
}

const onAddColumn = () => {
    board.value.columns.push({
        id: 's' + Date.now(),
        color: 'black',
        label: 'новая колонка'
    })
}

const onRemoveColumn = (columnId) => {
    board.value.columns = board.value.columns.filter(c => c.id !== columnId)
}

const onAddTag = () => {
    board.value.tags.push({
        id: 't' + Date.now(),
        color: 'black',
        label: 'новый тег'
    })
}

const onRemoveTag = (columnId) => {
    board.value.tags = board.value.tags.filter(c => c.id !== columnId)
}
</script>

<template>
    <div class="container p-8 mt-16 mb-16 bg-white rounded-md lg:w-1/2 sm:w-full h-4/5 overflow-y-auto">
        <p class="text-3xl float-right cursor-pointer" @click="emit('close')">&times;</p>
        <h1 class="mb-8">Настройки доски</h1>
        <div v-if="board" class="mb-8">
            <FormItem>
                <div>
                    <label>Название</label>
                </div>
                <div class="w-full">
                    <input type="text" v-model="board.title" />
                </div>
            </FormItem>
            <FormItem>
                <div>
                    <label>Колонки</label>
                </div>
                <div class="w-full">
                    <div v-for="column in board.columns" :key="column.id">
                        <color-picker shape="circle" v-model:pureColor="column.color" />
                        <input :style="`background-color: ${column.color}`" class="text-white text-center
                                p-1 pl-4 pr-4
                                rounded-md"
                                v-model="column.label"/>
                        <button @click="onRemoveColumn(column.id)" class="text-red-600">&times;</button>
                    </div>
                    <button @click="onAddColumn">+ добавить колонку</button>
                </div>
            </FormItem>
            <FormItem>
                <div>
                    <label>Теги</label>
                </div>
                <div class="w-full">
                    <div v-for="tag in board.tags" :key="tag.id">
                        <color-picker shape="circle" v-model:pureColor="tag.color" />
                        <input :style="`background-color: ${tag.color}`" class="text-white text-center
                                p-1 pl-4 pr-4
                                rounded-md"
                                v-model="tag.label"/>
                        <button @click="onRemoveTag(tag.id)" class="text-red-600">&times;</button>
                    </div>
                    <button @click="onAddTag">+ добавить тег</button>
                </div>
            </FormItem>
        </div>
        <ButtonBox>
            <OkButton @click="onUpdateBoard">Сохранить</OkButton>
            <DangerButton class="p-2 pl-4 pr-4">Удалить доску</DangerButton>
        </ButtonBox>
    </div>
</template>

<style scoped lang="postcss">
select {
    @apply p-1
}
input[type="checkbox"] {
    @apply m-2 p-2
}

.vc-color-wrap.round {
    width: 50px;
    height: 50px;
}
</style>

