<script setup lang="ts">
import { useAuthStore } from '@/stores/main'

import UserChip from '@/components/ui/UserChip.vue'

import { computed } from 'vue'
import { useRoute, useRouter } from 'vue-router'

const props = defineProps<{
    headerTitle: string
}>()

const authStore = useAuthStore()
const route = useRoute()
const router = useRouter()

const title = computed(() => props.title)

const atHome = computed(() => route.fullPath === '/')
const goBack = () => {
    router.go(-1)
}
</script>

<template>
    <header class="p-4 pt-8 flex">
        <span class="cursor-pointer text-2xl pt-1 mr-4" v-if="!atHome" @click="goBack">&lt;&nbsp;</span>
        <div class="flex-1" id="title-bar"></div> 
        <router-link 
            class="pl-4 hover:text-slate-500"
            to="/user">
            <UserChip class="mt-2" :username="authStore.userInformation.username" />
        </router-link>
    </header>
</template>
