<script setup lang="ts">
import { services } from '@/services'

import { useAuthStore } from '@/stores/main'

import ButtonBox from '@/components/ui/ButtonBox.vue'
import FormItem from '@/components/ui/FormItem.vue'
import ActionButton from '@/components/ui/buttons/Action.vue'
import OkButton from '@/components/ui/buttons/Ok.vue'
import SearchBar from '@/components/ui/SearchBar.vue'

import { ref, computed, onMounted } from 'vue'
import { useRoute } from 'vue-router'

const project = ref(null)
const boards = ref([])
const isAdmin = ref(false)

const isEditingParticipants = ref(false)
const usersToAdd = ref([])
const renderedUsers = computed(() =>
    usersToAdd.value.filter(u =>
        !participants.value.includes(u))
    .map(u => ({ id: u, label: u })))
const participants = ref([])

const errorMessage = ref(null)

const route = useRoute()
const projectId = computed(() => route.params.id)

const boardService = services.boards
const projectService = services.projects

const initialize = () => {
    projectService.getProjectById(projectId.value)
    .then(_project => {
        project.value = _project

        if (!isAdmin) return
        participants.value = project.value.participants
        
        const authStore = useAuthStore()
        isAdmin.value = authStore.isAdmin

        if (isAdmin.value) {
            fetch(import.meta.env?.VITE_API + '/admin/userlist', {
                headers: { Authorization: authStore.token }
            })
            .then(response => {
                response.json().then(json => {
                    const users = json.user_list
                    usersToAdd.value = users.filter(u => !participants.value.includes(u))
                })
            })
        }
    })
    .catch(err => {
        switch (err) {
            case 403:
                errorMessage.value = 'Вам не разрешено просматривать этот проект';
                break;
            case 404:
                errorMessage.value = 'Запрашиваемый контент не найден';
                break;
            default:
                errorMessage.value = `Ошибка ${err.message}`
                break;
        }
    })

    boardService.getBoardsByProjectId(projectId.value)
    .then(_boards => { boards.value = _boards }) 
}

onMounted(() => {
    initialize()
})

const onEditParticipants = () => {
    isEditingParticipants.value = true
}

const onUpdateParticipants = () => {
    projectService.updateParticipants(projectId.value, participants.value)
    .then(_ => {
        isEditingParticipants.value = false
        initialize()
    })
}

const deleteParticipant = (participant) => {
    participants.value = participants.value.filter(p => p !== participant)
    onUpdateParticipants()
}
</script>

<template>
    <div v-if="project">
        <Teleport to="#title-bar">
            <h1>Проект</h1>
        </Teleport>
        <div class="flex flex-row gap-12">
            <div class="flex-1">
                <h3 class="mb-4">Сведения</h3>
                <FormItem>
                    <div>
                        <label>Название проекта</label>
                    </div>
                    <div class="w-full">
                        <input class="w-full" type="text" v-model="project.title" placeholder="например, БКД" />
                    </div>
                </FormItem>
                <FormItem>
                    <div>
                        <label>Описание</label>
                    </div>
                    <div class="w-full">
                        <textarea class="w-full" type="text" v-model="project.description" placeholder="Цель этого проекта - заработать много денег" />
                    </div>
                </FormItem>
                <FormItem>
                    <div>
                        <label>Сроки</label>
                    </div>
                    <div class="w-full flex">
                        <p>с</p>
                        <input type="date" />
                        <p>по</p>
                        <input type="date" />
                    </div>
                </FormItem>
                <FormItem v-if="project.owner">
                    <div>
                        <label>Владелец</label>
                    </div>
                    <div class="flex">
                        <img src="/svg/user.svg">
                        <p>{{ project.owner }}</p>
                    </div>
                </FormItem>
            </div>
            <div class="flex-1">
                <h3 class="mb-4">Доски</h3>
                <ButtonBox class="mb-8">
                <router-link v-for="board in boards" :to="`/boards/${board.id}`" :key="board.id"><ActionButton>{{ board.title }}</ActionButton></router-link>
                <ActionButton shallow>+ добавить доску</ActionButton>
                </ButtonBox>
                <h3 class="mb-4">Команда</h3>
                <div v-if="isAdmin" class="mb-4">
                    <ActionButton v-if="!isEditingParticipants" @click="onEditParticipants">
                    + добавить участников 👑</ActionButton>
                    <FormItem v-else>
                        <div class="flex-1">
                            <SearchBar placeholder="Начните искать по пользователям системы"
                                allow-unindexed
                                :source="renderedUsers"
                                @result="participants.push($event)"
                            />
                        </div>
                        <div>
                            <OkButton @click="onUpdateParticipants">Обновить 👑</OkButton>
                        </div>
                    </FormItem> 
                </div>
                <p v-if="!participants || participants.length === 0">В команде никого нет.</p>
                <div v-else>
                    <div v-for="participant in participants" :key="participant" class="flex">
                        <img src="/svg/user.svg">
                        <p class="p-2">{{ participant }}</p>
                        <button class="text-red-600" @click="deleteParticipant(participant)">&times;</button>
                    </div>
                </div>
            </div>    
        </div>
        <OkButton>Сохранить</OkButton>
    </div>
    <div v-else-if="errorMessage">
        {{ errorMessage }}
    </div>
    <div v-else>
        Загрузка...
    </div>
</template>
