<script setup>
import { ref } from 'vue'
const registering = ref(false)
const success = ref(false)

const endpoint = import.meta.env?.VITE_API
const appRoute = import.meta.env?.VITE_PATAMA

const login = ref('')
const password = ref('')
const validationMessage = ref('')

const performLogin = () => {
    success.value = false
    validationMessage.value = '' 
    fetch(`${endpoint}/auth/login`, {
            method: 'POST',
            body: JSON.stringify({ username: login.value, password: password.value }),
            headers: {
                    'Content-Type': 'application/json'
                }
        })
    .then(response => {
            response.json()
            .then(payload => {
                    if (!payload?.success)
                        validationMessage.value = payload?.reason
                    else
                        window.location.href = `${appRoute}?auth=${payload?.user_session}`
                })
        })
}

const performRegister = () => {
    success.value = false
    validationMessage.value = '' 

    fetch(`${endpoint}/auth/register`, {
            method: 'POST',
            body: JSON.stringify({ username: login.value, password: password.value }),
            headers: {
                    'Content-Type': 'application/json'
                }
        })
    .then(response => {
            response.json()
            .then(payload => {
                    if (response.status != 200)
                        validationMessage.value = payload?.reason
                    else {
                        success.value = true;
                        registering.value = false;
                        login.value = '';
                        password.value = '';
                    }
                })
        })
}

</script>

<template>
    <div class="successful-register" v-if="success">
        <p>Отлично! Теперь зайдите под своим логином и паролем.</p>
    </div>
    <h1 v-if="!registering">Добро пожаловать!</h1>
    <h1 v-else>Рады знакомству!</h1>
    <div class="login-form">
        <input type="text" placeholder="Логин" v-model="login" />
        <input type="password" placeholder="Пароль" v-model="password" />
        <p class="validation-message">{{ validationMessage }}</p>
        <div class="actions" v-if="!registering">
            <button class="login" @click="performLogin">Войти</button>
            <a @click="registering = !registering; validationMessage = '';">или создать аккаунт</a>
        </div>
        <div class="actions" v-else>
            <button class="login" @click="performRegister">Зарегистрироваться</button>
            <a @click="registering = !registering; validationMessage = '';">у меня уже есть аккаунт</a>
        </div>
    </div>
</template>

<style scoped>

.successful-register {
    position: absolute;
    top: 25px;

    padding: 0.25rem 1rem;

    border: 2px solid forestgreen;
    border-radius: 8px;
    background-color: lightgreen;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-form input {
    width: 350px;
    padding: 1rem;
    font-size: x-large;

    border-radius: 8px;
    margin-top: 1rem;

    border: 1px solid gray;
}

.actions {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    margin: 0.5rem;
    padding: 1rem;
    color: white;
    width: 275px;
    background-color: rgb(99 102 241);
}

.validation-message {
    line-height: 1;
    height: 0.75em;
    color: darkred;
    text-align: center;
}

.actions a {
    cursor: pointer;
}
</style>
