<script setup lang="ts">
import PopupArea from '@/components/ui/PopupArea.vue'
import NewProjectPopup from '@/components/NewProjectPopup.vue'

import ButtonBox from '@/components/ui/ButtonBox.vue'
import ActionButton from '@/components/ui/buttons/Action.vue'

import { services } from '@/services'
import { useAuthStore } from '@/stores/main' 

import { computed, onMounted, ref } from 'vue'
import { useRoute } from 'vue-router'

const projectService = services.projects
const route = useRoute()

const popups = ref({
    'newProject': false,
})
const loading = ref(false)
const displayPopups = computed(() => Object.values(popups.value).filter(visibility => visibility == true).length > 0)

const projects = ref(null)
const isAdmin = useAuthStore().isAdmin

onMounted(() => {
    loading.value = true
    projectService.getProjects()
    .then(_projects => {
        projects.value = _projects
        loading.value = false
    })
})
</script>

<template>
    <div class="flex flex-col md:flex-row gap-12">
        <Teleport v-if="projects" to="#title-bar">
            <h1>Главная</h1>
        </Teleport>
        <div class="flex-1">
            <h2 class="mb-4">Проекты</h2>
            <p v-if="loading">Загрузка...</p>
            <p v-else-if="!projects || projects.length === 0">Проектов нет.</p>
            <ul v-else>
                <li v-for="project in projects" :key="project.id" class="flex justify-between mb-2">
                    <router-link :to="`/projects/${project.id}`" class="hover:text-blue-600">
                        {{ project.title }}
                    </router-link>
                    <router-link :to="`/boards/${project.board_id}`"
                        class="border-b-2 border-black border-dashed">открыть доску
                    </router-link>
                </li>
            </ul>
        </div>
        <div class="flex-1">
            <div v-if="isAdmin">
            <h2 class="mb-4">Действия администратора</h2>
            <ButtonBox>
                <ActionButton @click="popups.newProject = true">Создать проект</ActionButton>
                <router-link to="/user/list"><ActionButton>Открыть список пользователей</ActionButton></router-link>
            </ButtonBox>
            </div>
        </div>
        <PopupArea
            v-if="displayPopups">
            <NewProjectPopup v-if="popups.newProject" @close="popups.newProject = false" />
        </PopupArea>
    </div>
</template>
