<script setup lang="ts">
import Tabs from '@/components/ui/Tabs.vue'
import tabs from './tabs'

import FormItem from '@/components/ui/FormItem.vue'
import OkButton from '@/components/ui/buttons/Ok.vue'
import ActionButton from '@/components/ui/buttons/Action.vue'
import DangerButton from '@/components/ui/buttons/Danger.vue'

import { useAuthStore } from '@/stores/main'
import { services } from '@/services'

import { onMounted, ref } from 'vue'

const authService = services.auth
const authStore = useAuthStore()
const userInformation = ref({})

onMounted(() => {
    userInformation.value = Object.assign({}, authStore.userInformation)
})
</script>

<template>
    <div>
        <div class="flex justify-between mb-8">
            <Tabs :model="tabs(authStore.isAdmin)" />
            <DangerButton class="p-2" @click="authService.logOut">Выйти</DangerButton>
        </div>
        <div>
            <FormItem>
                <div>
                    <label>Имя пользователя</label>
                </div>
                <div class="w-full">
                    <input class="w-full" type="text" v-model="userInformation.full_name" placeholder="Фамилия, имя" />
                </div>
            </FormItem>
            <FormItem>
                <div>
                    <label>Роль</label>
                </div>
                <div class="w-full">
                    <p>Пользователь</p>
                </div>
            </FormItem>
            <FormItem>
                <div>
                    <label>Должность</label>
                </div>
                <div class="w-full">
                    <input class="w-full" type="text" v-model="userInformation.occupation" placeholder="Разработчик, менеджер, уборщик" />
                </div>
            </FormItem>
            <FormItem>
                <div>
                    <label>Логин</label>
                </div>
                <div class="w-full">
                    <p>{{ userInformation.username }}</p>
                </div>
            </FormItem>
            <FormItem>
                <div>
                    <label>Пароль</label>
                </div>
                <div class="w-full">
                    <ActionButton>Сменить</ActionButton>
                </div>
            </FormItem>
        </div>
        <OkButton>Сохранить</OkButton>
    </div>
</template>
