<script setup lang="ts">
import Tabs from '@/components/ui/Tabs.vue'
import tabs from './tabs'

import { useAuthStore } from '@/stores/main'

const authStore = useAuthStore()
</script>

<template>
    <div>
        <Tabs :model="tabs(authStore.isAdmin)" />
    </div>
</template>

