<script setup lang="ts">
import { ref, onMounted } from 'vue'

import { services } from '../services'
import { Board } from '../lib/types'

const props = defineProps<{
    boards: Board[]
}>()

const emit = defineEmits<{
    (e: 'close'): void,
    (e: 'updateBoard', board: Board): void
}>()

const boardService = services.boards

const activeBoardId = ref<number>(0)

const setActiveBoard = (boardId) => {
    window.localStorage.setItem('activeBoard', boardId)
    activeBoardId.value = boardId

    emit('updateBoard', props.boards.filter(b => b.id == activeBoardId.value)[0])
    emit('close')
}

onMounted(() => {
    activeBoardId.value = boardService.getCurrentBoard(props.boards).id
    console.log(activeBoardId.value)
})
</script>

<template>
    <div class="container p-8 mt-16 mb-16 bg-white rounded-md lg:w-2/5 sm:w-full h-3/5">
        <p class="text-3xl float-right cursor-pointer" @click="emit('close')">&times;</p>
        <h1 class="mb-8">Переключить доску</h1>
        <div class="h-5/6 overflow-auto">
            <ul v-if="activeBoardId !== 0">
                <li class="mb-4 cursor-pointer"
                    v-for="board in props.boards" :key="board.id"
                    @click="setActiveBoard(board.id)"
                >
                    <span>{{ board.title }}</span>
                    <span v-if="activeBoardId == board.id" class="ml-2 p-1 pl-2 pr-2 text-xs text-white bg-green-500 rounded-md">выбрана</span>
                </li>
            </ul>
        </div>
    </div>
</template>
