<script setup lang="ts">
import { ref, onMounted } from 'vue'

import { services } from '../services'

import { Board } from '../lib/types'

const props = defineProps<{
    title: string
}>()

const emit = defineEmits<{
    (e: 'switchBoard'): void
}>()
</script>

<template>
    <div>
        <h1 class="mb-4 p-1
                   rounded-md box-content
                   hover:bg-slate-600 hover:text-white
                   w-fit cursor-pointer"
            @click="emit('switchBoard')">{{ props.title }}</h1>
    </div>
</template>
