<script setup lang="ts">
import FormItem from '@/components/ui/FormItem.vue'
import OkButton from '@/components/ui/buttons/Ok.vue'

import { services } from '@/services'

import { ref } from 'vue'
import { useRouter } from 'vue-router'

const emit = defineEmits<{
    (e: 'close'): void
}>()
const router = useRouter()
const projectService = services.projects

const title = ref<string>('')

const onCreate = () => {
    projectService.createProject(title.value)
    .then(projectId => {
        router.push(`/projects/${projectId}`)
    })
}
</script>

<template>
    <div class="mx-auto container p-8 mt-16 mb-16 bg-white rounded-md w-full lg:w-1/2">
        <p class="text-3xl float-right cursor-pointer" @click="emit('close')">&times;</p>
        <h1 class="mb-8">Новый проект</h1>
        <div>
            <FormItem>
                <div>
                    <label>Название</label>
                </div>
                <div class="w-full">
                    <input type="text" placeholder="например, БКД" v-model="title" />
                </div>
            </FormItem>
            <p class="text-sm mb-8">* команду проекта и описание можно будет заполнить позже</p>
        </div>
        <OkButton @click="onCreate">Создать</OkButton>
    </div>
</template>
