<script setup lang="ts">
import SearchBar from '@/components/ui/SearchBar.vue'
import TagBox from '@/components/ui/TagBox.vue'
import ColoredTagBox from '@/components/ui/ColoredTagBox.vue'
import FormItem from '@/components/ui/FormItem.vue'

import { services } from '@/services'

import { ref, computed, onMounted } from 'vue'
import { TaskStatus, TaskTag } from '../lib/types'
import { tagTask } from '../lib/functions'

const props = defineProps<{
    board: Board
}>()
const emit = defineEmits<{
    (e: 'close'): void
}>()

const authService = services.auth
const boardService = services.boards
const taskService = services.tasks

const task = ref({
    title: '',
    description: '',
    date: new Date(),
    status: '',
    responsibles: [] as string[],
    tags: [] as string[]
})

const resps = [ 
    {
        id: "vasya",
        label: "Вася"
    },
    {
        id: "petya",
        label: "Петя"
    },
]

const isDescriptionEditing = ref(false)
const responsiblesEnabled = ref(false)
const tags = computed(() => props.board.tags)
const cols = ref<TaskStatus[]>([])


onMounted(() => {
    cols.value = props.board.columns
})

fetch(import.meta.env?.VITE_API + '/status', {
        headers: {
            Authorization: authService.getAuth()
        }
    })
.then((response) => {
    if (response.status == 200) {
        response.json()
        .then((data: TaskStatus[]) => {
            cols.value = data
        })
    }
})

fetch(import.meta.env?.VITE_API + `/tag?board_id=${props.board.id}`)
.then((response) => {
    if (response.status == 200) {
        response.json()
        .then((data: TaskStatus[]) => {
            tags.value = data
        })
    }
})

const pushResponsible = (resp: string) => {
    task.value.responsibles.push(resp)
}

const removeResp = (deleting: string) => {
    task.value.responsibles = task.value.responsibles.filter(resp => resp !== deleting)
}

const respsToSearch = computed(() => resps.filter(resp => !task.value.responsibles.includes(resp.id)))

const renderedResps = computed(() => {
    const rs = [] as Array<{ id: string | number, label: string }>
    task.value.responsibles.forEach(resp => {
        rs.push({
            id: resp,
            label: resps.filter(r => r.id == resp)[0]?.label || resp
        })
    })
    return rs
})

const tagsToSearch = computed(() => {
    return tags.value.filter(tag => !task.value.tags.includes(tag.id))
})

const renderedTags = computed(() => {
    return tags.value.filter(tag => task.value.tags.includes(tag.id))
})

const removeTag = (tag: string) => {
    task.value.tags = task.value.tags.filter(_tag => _tag != tag);
}

const renderedSelectedStatus = computed(() => {
    return cols.value.filter(col => col.id == task.value.status)
})

const submit = async () => {
    if (task.value.status == '') {
        alert('статус не выбран')
        return
    }

    const result = await taskService.createTask(task.value, Number(props.board.id))
    if (result !== 'OK') {
        alert(result)
        return
    }

    emit('close')
}
</script>

<template>
    <div class="container p-8 mt-16 mb-16 bg-white rounded-md w-full lg:w-2/3">
        <p class="text-3xl float-right cursor-pointer" @click="emit('close')">&times;</p>
        <h1 class="mb-8">Новая задача</h1>
        <div>
            <FormItem>
                <div>
                    <label class="mx-auto">Название задачи</label>
                </div>
                <div class="w-full">
                    <input v-model="task.title" type="text" placeholder="Название задачи"
                        class="mx-auto w-full placeholder:text-slate-400"/>
                </div>
            </FormItem>
            <FormItem>
                <div>
                    <label>Срок</label>
                </div>
                <div>
                    <input type="date" class="w-full" v-model="task.date" />
                </div>
            </FormItem>
            <FormItem>
                <div>
                    <label>Статус</label>
                </div>
                <div class="w-full">
                    <ColoredTagBox :model="renderedSelectedStatus" />
                    <SearchBar placeholder="Выберите из заданных статусов"
                        :source="cols"
                        @result="task.status = $event"
                    />
                </div>
            </FormItem>
            <FormItem v-if="responsiblesEnabled">
                <div>
                    <label>Ответственные</label>
                </div>
                <div class="w-full">
                    <TagBox :model="renderedResps" color="bg-sky-400" @remove="removeResp" />
                    <SearchBar placeholder="Кому поручить задачу?"
                        allow-unindexed
                        :source="respsToSearch"
                        @result="pushResponsible"
                    />
                </div>
            </FormItem>
            <FormItem>
                <div>
                    <label>Теги</label>
                </div>
                <div class="w-full">
                    <ColoredTagBox :model="renderedTags" @remove="removeTag" allow-delete />
                    <SearchBar placeholder="Начните искать по доступным тегам"
                        allow-unindexed
                        :source="tagsToSearch"
                        @result="task.tags.push($event)"
                    />
                </div>
            </FormItem>
            <FormItem v-if="isDescriptionEditing">
                <div>
                    <label>Описание</label>
                </div>
                <div class="w-full">
                    <textarea 
                        placeholder="Введите описание (можно использовать разметку Markdown)"
                        class="w-full h-48 align-top"
                        v-model="task.description"
                        />	
                </div>
            </FormItem>
        </div>
        <button class="rounded-md
                       text-gray-400
                       hover:bg-slate-200
                       p-1 pr-2 pl-2
                       -translate-x-1.5"
            v-if="!isDescriptionEditing"
            @click="isDescriptionEditing = true"
        >
            + добавить описание    
        </button>
        <br /><br />
        <button class="p-2 pl-4 pr-4 bg-green-500 hover:bg-green-600 rounded-md text-white"
            @click="submit"
        >Сохранить</button>
    </div>
</template>

<style scoped lang="postcss">
</style>
