<script setup lang="ts">
import { ref } from 'vue'

import { services } from '@/services'

import { TaskStatus, TaskTag } from '@/lib/types'
import StatusChip from '@/components/ui/StatusChip.vue'

import { useCookies } from 'vue3-cookies'

const emit = defineEmits(['close'])

const authService = services.auth

const cols = ref<TaskStatus[]>([])
const tags = ref<TaskTag[]>([])
const isNewStatusAdding = ref(false)
const isNewTagAdding = ref(false)
const newStatus = ref({
    id: 's' + Math.random().toString().slice(2, 8),
    color: 'bg-black',
    label: 'Новый статус'
})
const newTag = ref({
    id: 't' + Math.random().toString().slice(2, 8),
    color: 'bg-gray-300',
    label: 'Новый статус'
})

fetch(import.meta.env?.VITE_API + '/status', {
        headers: {
            'Authorization': authService.getAuth()
        }
    })
.then((response) => {
    if (response.status == 200) {
        response.json()
        .then((data: TaskStatus[]) => {
            cols.value = data
        })
    }
})

fetch(import.meta.env?.VITE_API + '/tag')
.then((response) => {
    if (response.status == 200) {
        response.json()
        .then((data: TaskStatus[]) => {
            tags.value = data
        })
    }
})

const submitStatus = () => {
    fetch(import.meta.env?.VITE_API + '/status', {
        headers: {
            'Content-Type': 'application/json',
            'Authorization': authService.getAuth()
        },
        body: JSON.stringify({
            id: newStatus.value.id,
            color: newStatus.value.color,
            label: newStatus.value.label
        }),
        method: 'POST'
    })
    .then((response) => {
        if (response.status == 200) {
            emit('close')
        }
    })
}
const submitTag = () => {
    fetch(import.meta.env?.VITE_API + '/tag', {
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            id: newTag.value.id,
            color: newTag.value.color,
            label: newTag.value.label
        }),
        method: 'POST'
    })
    .then((response) => {
        if (response.status == 200) {
            emit('close')
        }
    })
}

const deleteTag = (id: string) => {
    fetch(import.meta.env?.VITE_API + `/tag?id=${id}`, {
        method: 'DELETE'
    })
    .then(response => {
        if (response.status == 200) {
            emit('close')
        }
    })
}

const onColorChanged = (statusId, color) => {
    console.log(color)
    cols.value.find(c => c.status.id == statusId).color = color.css
}

const logout = () => {
    const { cookies } = useCookies()
    cookies.remove('auth')

    window.location.href = import.meta.env?.VITE_LOGIN
}
</script>

<template>
    <div class="container p-8 mt-16 mb-16 bg-white rounded-md lg:w-1/2 sm:w-full h-4/5">
        <p class="text-3xl float-right cursor-pointer" @click="emit('close')">&times;</p>
        <h1 class="mb-8">Настройки</h1>
        <div class="h-5/6 overflow-auto">
            <h2 class="mb-4">Общие</h2>
            <div class="mb-4">
                <input type="checkbox" id="dark-theme-toggle" disabled />
                <label for="dark-theme-toggle" class="text-gray-400">Тёмная тема</label>
            </div>
            <div class="mb-4">
                <button class="rounded-md bg-red-500 text-white pb-2 pt-2 pr-4 pl-4" @click="logout">Выйти</button>
            </div>

            <h2 class="mb-4 mt-8">Доски</h2>
            <table>
                <tr>
                    <td class="w-48">Столбцы задач</td>
                    <td class="pb-4">
                        <table>
                            <tr>
                                <td class="pr-8">Цвет</td>
                                <td>Название</td>
                                <td>ID</td>
                            </tr>
                            <tr v-for="status in cols" :key="status.id">
                                <td class="pt-2">
                                    <ColorPicker shape="circle" round-history v-model:pureColor="status.color" />
                                </td>
                                <td>
                                    <StatusChip :text="status.label" :color="status.color"
                                        class="min-w-32 mt-2 mr-2" />
                                </td>
                                <td>
                                    <input type="text" disabled v-model="status.id" class="h-8 mt-4" />
                                </td>
                            </tr>
                            <tr v-if="isNewStatusAdding">
                                <td class="flex items-center">
                                    <div
                                        class=""
                                    >
                                    <input type="text" 
                                        class="text-center text-white rounded-md h-8 mb-1 mr-2 w-36 translate-y-1.5"
                                        :class="newStatus.color" 
                                        v-model="newStatus.label" />
                                    </div>
                                </td>
                                <td class="pr-2">
                                    <select v-model="newStatus.color" class="-translate-y-0.5">
                                        <option v-for="color in availableStatusColors.filter(clr => !cols.map(col => col.color).includes(clr) || clr == newStatus.color)">
                                            {{ color }}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" v-model="newStatus.id" />
                                </td>
                            </tr>
                            <tr v-if="isNewStatusAdding">
                                <td colspan="3" class="pt-2">
                                    <button class="p-1 pl-2 pr-2 mr-1 rounded bg-green-500 text-white"
                                        @click="submitStatus"
                                    >Сохранить</button>
                                    <button class="p-1 pl-2 pr-2 rounded bg-red-500 text-white"
                                        @click="isNewStatusAdding = false"
                                    >Отменить</button>
                                </td>
                            </tr>
                        </table>
                        <button class="p-1 pl-2 pr-2 rounded-md hover:bg-slate-200"
                            v-if="!isNewStatusAdding"
                            @click="isNewStatusAdding = true"
                        >+ добавить столбец</button>
                    </td>
                </tr>
                <tr>
                    <td>Теги</td>
                    <td>
                        <table>
                            <tr>
                                <td></td>
                                <td class="text-center text-bold pb-2">Цвет</td>
                                <td class="text-center pb-2">ID</td>
                            </tr>
                            <tr v-for="tag in tags" :key="tag.id">
                                <td class="flex items-center">
                                    <div
                                        :class="tag.color"
                                        class="text-white rounded-md p-1 mb-1 w-32 mr-2 translate-y-1.5"
                                    >
                                        <p class="text-center">
                                            {{ tag.label }}
                                        </p>
                                    </div>
                                </td>
                                <td class="pr-2">
                                    <select v-model="tag.color" class="-translate-y-0.5">
                                        <option v-for="color in availableTagColors">
                                            {{ color }}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" disabled v-model="tag.id" />
                                </td>
                                <td>
                                    <a class="ml-2 text-red-300"
                                        @click="deleteTag(tag.id)"
                                    >&times;</a>
                                </td>
                            </tr>
                            <tr v-if="isNewTagAdding">
                                <td class="flex items-center">
                                    <div
                                        class=""
                                    >
                                    <input type="text" 
                                        class="text-center text-white rounded-md h-8 mb-1 w-32 mr-2 translate-y-1.5"
                                        :class="newTag.color" 
                                        v-model="newTag.label" />
                                    </div>
                                </td>
                                <td class="pr-2">
                                        <select v-model="newTag.color" class="-translate-y-0.5">
                                        <option v-for="color in availableTagColors">
                                            {{ color }}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" v-model="newTag.id" />
                                </td>
                            </tr>
                            <tr v-if="isNewTagAdding">
                                <td colspan="3" class="pt-2">
                                    <button class="p-1 pl-2 pr-2 mr-1 rounded bg-green-500 text-white"
                                        @click="submitTag"
                                    >Сохранить</button>
                                    <button class="p-1 pl-2 pr-2 rounded bg-red-500 text-white"
                                        @click="isNewTagAdding = false"
                                    >Отменить</button>
                                </td>
                            </tr>
                        </table>
                        <button class="p-1 pl-2 pr-2 rounded-md hover:bg-slate-200"
                            @click="isNewTagAdding = true"
                        >+ добавить тег</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<style scoped lang="postcss">
select {
    @apply p-1
}
input[type="checkbox"] {
    @apply m-2 p-2
}

.vc-color-wrap.round {
    width: 50px;
    height: 50px;
}
</style>
