<script setup lang="ts">
import { services } from '@/services'
import Header from '@/components/layout/Header.vue'

import { onMounted, ref, watch } from 'vue'
import { useRoute } from 'vue-router'

const authService = services.auth
const authenticationResolved = ref(false)

const route = useRoute()

onMounted(async () => {
    authService.getQueryAuth()
    authService.getAuth()
    .then(auth => {
        if (auth === '') {
            window.location.href = import.meta.env?.VITE_LOGIN
            return
        }
        authenticationResolved.value = true
    })
    watch(route, (value) => {
    })
})

</script>

<template>
    <div v-if="authenticationResolved" class="container h-screen mx-auto">
        <Header />
        <main class="p-4">
            <router-view></router-view>
        </main>
    </div>
    <div v-else class="container mx-auto">
        <p>Загрузка...</p>
    </div>
</template>
