@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


a {
    @apply cursor-pointer
}

h1 {
    @apply text-2xl font-bold;
}

h2 {
    @apply text-xl font-bold;
}

h3 {
    @apply text-lg font-bold;
}

.md h1 {
    @apply mb-4 text-3xl
}

.md h2 {
    @apply mb-4 text-xl
}

.md h3 {
    @apply mb-2 text-lg
}

.md p {
    @apply mb-2
}

.md ul {
    @apply list-disc pl-8
}

.md li {
    @apply pb-2
}

header h1 {
    @apply pt-1
}

* {
    font-family: 'Rubik', sans-serif;
}

*:hover {
    transition: .2s ease-in-out;
}

